{% extends "base.html" %}

{% block content %}
<div class="container-fluid cart-list">
				<div class="row">
					<div class="col-sm-9 blog-content">
						<article>
							<header>
								<h1>
										{{ object }}
								</h1>
							</header>
							<div class="post-date">
									{{ object.created }}
							</div>
							<div class="content">

								<div class="container-fluid productlist">
									<div class="row">
										<div class="col-sm-12">
											<img src="/media/{{ object.media }}" class="img-responsive" alt="item"></a>
										</div>
									</div>
								</div>
                                {{ object.content|safe }}
                            </div>
						</article>

						<div class="paging clearfix">
							<a class="btn btn-outline pull-left" href="#"><i class="icon-arrow-left2 left"></i><span>Older</span><span class="hidden-xs"> Posts</span></a>
							<!-- <a class="btn btn-outline pull-right" href="#"><span>Newer</span><span class="hidden-xs"> Posts</span><i class="icon-arrow-right2 right"></i></a> -->
						</div>
					</div>
					<div class="col-sm-3 blog-sidebar">
						<div class="widget">
							<h3>A Little About Us</h3>
							<p>As an interesting side note, as a head without a body, I envy the dead. Daylight and everything. Spare me your space age technobabble, Attila the Hun! We'll go deliver this crate like professionals, and then we'll go home. </p>
							<p>Oh, but you can. But you may have to metaphorically make a deal with the devil. And by "devil", I mean Robot Devil. And by "metaphorically", I mean get your coat. Shut up and get to the point!</p>
							<hr>
						</div>
						<div class="widget">
							<h3>Categories</h3>
							<ul>
								<li><a href="">News</a></li>
								<li><a href="">Hobby</a></li>
								<li><a href="">Summer</a></li>
							</ul>
							<hr>
						</div>
					</div>

				</div>
			</div>
{% endblock %}
